body {
  padding-top: 60px;
}
ol.heavy li {
  font-weight: bold;
}

/* Tweak navbar brand link
-------------------------------------------------- */

body > .navbar .brand {
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
